<!DOCTYPE html>
<html>

<head>
    <title>OTP</title>
    <link rel="stylesheet" href="../static/OTP.css">

</head>

<body>
    <div class="background">
        <div class="content">
            <div class="header">
                <a href="/login"><i class="arrow left"></i></a>
                <h1 class="JLupa">Lupa Password?</h1>
                <img src="../static/circle-info-solid.png" class="info">
            </div>
            <div class="head">
                <img src="../static/komen.png" class="comment">
                <h1 class="tanya">?</h1>
            </div>
            <section class="section">
                <h2 class="Slupa">Lupa Password</h2>
                <div class="garis"></div>
                <p class="penjelas">Masukan email dan kami akan mengirimkan kode OTP dan kamu akan dapat<br>
                    menganti password mu
                </p>
                <div>
                    <input type="text" placeholder="Email kamu.." class="in_email">
                    <img src="../static/envelope-regular.png" class="emailpng">
                </div>
                <button type="button" class="pilih">Kirim Kode</button>
            </section>
        </div>
    </div>
</body>

</html>