<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beranda Postingan</title>
  <link rel="stylesheet" href="../static/postingan.css">
</head>

<body>
  <div class="beranda">
    <header class="header">
      <nav class="nav">
        <nav class="nav">
          <a> <img src="../static/PlusCircle.png"></a>
          <a> <img src="../static/fire.png"></a>
          <a> <img src="../static/Send.png"></a>
          <a> <img src="../static/Vector.png"></a>
          <a href="/Jasa"> <img src="../static/🦆 icon _User Tie_.png"></a>
        </nav>
      </nav>
      <div class="title">
        <a href="/"><img src="../static/POSTER_TULUNG__1_-removebg-preview 4.png"></a>
      </div>
    </header>

    <section class="section">
      <div class="postingan">
        <img src="{{post['Image']}}" class="post">
        <div class="side_post">
          <div class="description">
            <p>{{post['Description']}}</p>
            <div class="interaction">
              <img src="../static/Vector (1).png">
              <img src="../static/basil_location-outline.png">
              <img src="../static/ph_bag.png">
            </div>
          </div>
          <input type="text" placeholder="Kirim komentar" class="kolom_comment">
        </div>
      </div>

      <div class="comment">
        <div class="komentar">
          <div class="profile">
            <div class="pp">
              <img src="../static/🦆 icon _person_.png">
            </div>
            <h5>@user</h5>
          </div>
          <h4>Barang nya bagus banget</h4>
        </div>
        <div class="komentar">
          <div class="profile">
            <div class="pp">
              <img src="../static/🦆 icon _person_.png">
            </div>
            <h5>@user</h5>
          </div>
          <h4>Barang nya bagus banget</h4>
        </div>
        <div class="komentar">
          <div class="profile">
            <div class="pp">
              <img src="../static/🦆 icon _person_.png">
            </div>
            <h5>@user</h5>
          </div>
          <h4>Barang nya bagus banget</h4>
        </div>
        <div class="komentar">
          <div class="profile">
            <div class="pp">
              <img src="../static/🦆 icon _person_.png">
            </div>
            <h5>@user</h5>
          </div>
          <h4>Barang nya bagus banget</h4>
        </div>
        <div class="komentar">
          <div class="profile">
            <div class="pp">
              <img src="../static/🦆 icon _person_.png">
            </div>
            <h5>@user</h5>
          </div>
          <h4>Barang nya bagus banget</h4>
        </div>
      </div>
    </section>
  </div>
</body>

</html>